.itemDetail {
    border: 2px solid lightslategray;
    border-radius: 5px;
    background-color: aliceblue;
    width: 300px;
    height: auto;
    text-align: center;
    margin: 10px;
}
.itemDetail img {
    width: 200px;
    height: 150px;
    border: 1px solid lightsalmon;
    border-radius: 5px;
    margin: 10px;
}
.itemDetail img:hover {
    width: 205px;
    height: 155px;
    margin-bottom: 5px;
    margin-top: 10px;
}
.itemDetail h2 {
    margin-left: 10px;
    margin-right: 10px;
}
.itemDetail h4 {
    margin: 5px 10px 5px 10px;
    color:darkolivegreen;
    font-style: italic;
}
.itemDetail h3 {
    margin-bottom: 10px;
    color:chocolate;
    font-weight: bold;
}
.link {
    margin-bottom: 15px;
}
.link a {
    text-decoration: none;
    color:white;
    background-color: brown;
    font-weight: bold;
    padding: 4px;
    border-radius: 5px;
}