div {
    text-align: center;
}
button {
    border-radius: 8px;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    margin: 10px 5px 20px 5px;
    margin-right: 5px;
    background-color: lightsalmon;
}
button:hover {
    background-color: lightcoral;
}
p {
    color: coral;
    margin-top: 50px;
}
h3 {
    color: crimson;
    margin-top: 10px;
    font-size: 24px;
}